version: "3.9"
services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      DB_URL: sqlite:///students_simple.db
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - redis
    volumes:
      - ./:/app
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
